<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--settings标签: 包含多个重要的设置项-->
    <settings>
        <!--开启驼峰命名规则-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!--取值时，若参数值为null，mybatis会将其映射为数据库的NULL值-->
        <setting name="jdbcTypeForNull" value="NULL"/>

        <!--开启延迟加载，关联的属性只有在使用时才会被加载-->
        <setting name="lazyLoadingEnabled" value="true"/>

        <!--侵入延迟加载，关闭后每一个属性只有在需要时才会被加载-->
        <setting name="aggressiveLazyLoading" value="false"/>

        <!--开启全局二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!--databaseIdProvider标签: 多数据库支持-->
    <databaseIdProvider type="DB_VENDOR">
        <!--为不同的数据库厂商起别名-->
        <property name="MySQL" value="mysql"/>
        <property name="Oracle" value="oracle"/>
    </databaseIdProvider>

</configuration>